*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
.App{
  background-image: linear-gradient(to right top, #845ec2, #8d69c5, #9775c8, #9f80ca, #a88ccd, #b297d2, #bca3d6, #c6afdb, #d4bde4, #e1ccec, #eedbf6, #fbeaff);

  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}